name: Docker Publish

on:
  push:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and Push
      run: |
        docker build . -t hr1244/portfolio:24f2004956
        docker push hr1244/portfolio:24f2004956
        docker tag hr1244/portfolio:24f2004956 hr1244/portfolio:latest
        docker push hr1244/portfolio:latest
